# Connections
PORT=5001
DATABASE_URL=

JWKS_URI="http://localhost:5501/.well-known/jwks.json"

# Admin Details 
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASS=

# Credential
REFRESH_TOKEN_SECRET=
PRIVATE_KEY_SECRET=
